include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include erpbee_english_report *.css
recursive-include erpbee_english_report *.csv
recursive-include erpbee_english_report *.html
recursive-include erpbee_english_report *.ico
recursive-include erpbee_english_report *.js
recursive-include erpbee_english_report *.json
recursive-include erpbee_english_report *.md
recursive-include erpbee_english_report *.png
recursive-include erpbee_english_report *.py
recursive-include erpbee_english_report *.svg
recursive-include erpbee_english_report *.txt
recursive-exclude erpbee_english_report *.pyc